name: Coverage Workflow

on:
  workflow_call:
    inputs:
      branch_name:
        required: true
        type: string
      event_name:
        required: true
        type: string

jobs:
  test-and-upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: stable

      - name: Install dependencies
        run: dart pub get

      - name: Run tests with coverage
        run: |
          mkdir -p coverage
          dart test --coverage=coverage

      - name: Activate coverage package
        run: dart pub global activate coverage

      - name: Generate LCOV report
        run: |
          dart pub global run coverage:format_coverage \
            --in=coverage \
            --out=coverage/lcov.info \
            --lcov \
            --report-on=lib \
            --packages=.dart_tool/package_config.json

      - name: List coverage files
        run: ls -al coverage

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage/lcov.info

  upload-coverage:
    runs-on: ubuntu-latest
    needs: test-and-upload

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download coverage artifact
        uses: actions/download-artifact@v4
        with:
          name: coverage-report
          path: coverage

      - name: List coverage files after download
        run: ls -al coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # omit for public repos if you want
          slug: open-feature/dart-server-sdk
          files: coverage/lcov.info
